In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\Akhilesh\\Downloads\\tennis.csv')

In [3]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no

In [5]:
df.tail()

     outlook  temp humidity  windy play
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [6]:
df.tail(2)

     outlook  temp humidity  windy play
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [7]:
df.shape

(14, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
outlook     14 non-null object
temp        14 non-null object
humidity    14 non-null object
windy       14 non-null bool
play        14 non-null object
dtypes: bool(1), object(4)
memory usage: 542.0+ bytes

In [9]:
df.index

RangeIndex(start=0, stop=14, step=1)

In [10]:
df.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [11]:
df['play'].astype('bool')

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
Name: play, dtype: bool

In [12]:
df['temp'].nunique()

3

In [14]:
df['temp'].value_counts()

mild    6
hot     4
cool    4
Name: temp, dtype: int64

In [15]:
df['temp'].unique()

array(['hot', 'mild', 'cool'], dtype=object)

## sorting

In [16]:
df.sort_index()

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [42]:
df.sort_values(by=['temp','outlook'])

     outlook  temp humidity  windy play
6   overcast  cool   normal   True  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
8      sunny  cool   normal  False  yes
2   overcast   hot     high  False  yes
12  overcast   hot   normal  False  yes
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
11  overcast  mild     high   True  yes
3      rainy  mild     high  False  yes
9      rainy  mild   normal  False  yes
13     rainy  mild     high   True   no
7      sunny  mild     high  False   no
10     sunny  mild   normal   True  yes

rename colunns

df.rename
df['columnae']=

In [39]:
df.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [52]:
df.column=[ 'OUTLOOK','TEMP','HUMIDITY','WINDY''PLAY']

In [54]:
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no